footer{
    position: absolute;
    bottom: 22px;
    color: white;
    z-index: 1000;
}
a{
    text-decoration: none;
    color: yellow;
}
a:hover{
    color: white;
    text-decoration: underline;
}

.navbar-nav a {
    color: white !important;
}
.navbar-nav a:hover {
    color: #9d9d9d !important;
}
